
.control-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.control-buttons button {
    width: 15em;
}

.card {
    width: 70%;
    height: 500px;
    align: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    height: 100%;
}

.buttons-generation {
    margin-top: 120px;
}

.buttons-adding {
    margin-top: 112px;

}


tbody {
    display: block;
    height: 380px;
    overflow-y: auto;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

td {
    padding-right: 30px;
}


td, th, tr {
    border: solid;
    border-color: silver;
    border-width: 1px;
}





